[2016-07-16 18:19] rohitmanglik opened #1 "Concatenated Address"
Create a new column with concatenated address,

Format: {street address}, {location}, {city}, {Pin code},{State}, {Country}

[2016-07-16 18:22] rohitmanglik opened #2 "New column: location"
Create a new column in this format: "{location}, {city}"

[2016-07-16 18:27] rohitmanglik opened #3 "Download Images"
As discussed with Erik (Superlist Author), Integration of WP Import All is not completely finished. We have to go with CSV import all for sometime. So need to do following functionality:

a) Download all the image mentioned in images column and save in a folder
b) Rename them to "{hash value}.{file format}"
c) Update image url in CSV file to the new filename
d) Zip all the files.

[2016-07-16 18:31] rohitmanglik opened #4 "Duplicate columns"
I wrote an email to Erik, asking to merge duplicate and unnecessary columns.

If he doesn't do it, we have to manually create following columns to decrease manual effort:

listing_banner_map_marker
listing_banner_map_type
listing_banner_map_zoom
listing_inside_view_location
listing_inside_view_location_latitude
listing_inside_view_location_longitude
listing_inside_view_location_zoom
listing_google

[2016-07-16 18:36] rohitmanglik opened #5 "3 unnecessary columns"
As Superlist doesn't allow users to set following default values, create 3 columns with defaults:

map_type: Roadmap  - (Roadmap is wrong, have to get confirmation of the right value)
listing_banner_map_marker: true or yes (get it confirmed)
Listing_banner_zoom: 16

[2016-07-16 18:39] rohitmanglik opened #6 "Change format of Opening hours"
Opening hours mention in CSV file are not compatible with Superlist. Change the format in CSV file to make it compatible.

-Waiting for confirmation of plugin author for the right format.

[2016-07-16 18:41] rohitmanglik opened #7 "Contact person's name"
Currently we are unable to save Contact person's name in Contact metabox.

Find the right way to do it from Plugin Author

[2016-07-16 18:53] rohitmanglik opened #8 "CSV of Invertis Google Places Plugin"
Multiple queries:

1) Do we have to manually run the script for every location? If yes, write a script to automate it.

2) How to utilize and link the CSV files generated through this plugin?

[2016-07-17 14:56] #2 closed

[2016-07-17 14:56] anantharam commented on #1
Added fullAddress

[2016-07-17 14:56] #1 closed

[2016-08-03 06:28] eriktelepovsky commented on #4
Hi, none of these columns are duplicates. Each of banner, inside view, google street view and banner street view can have set different latitude, longitude or zoom.

[2016-08-03 06:32] eriktelepovsky commented on #5
listing_banner_map_marker values can be either "on" or empty string

listing_banner_map_zoom default value is 18.

listing_banner_map_type value can be one of SATELLITE, ROADMAP or HYBRID

[2016-08-03 06:33] eriktelepovsky commented on #7
It is a regular textfield field with ID listing_person

[2016-08-03 06:36] eriktelepovsky commented on #6
The value has to be saved as a serialised array in this format:

`a:7:{i:0;a:4:{s:11:"listing_day";s:6:"MONDAY";s:17:"listing_time_from";s:8:"07:30 AM";s:15:"listing_time_to";s:8:"08:00 PM";s:14:"listing_custom";s:0:"";}i:1;a:4:{s:11:"listing_day";s:7:"TUESDAY";s:17:"listing_time_from";s:8:"08:00 AM";s:15:"listing_time_to";s:8:"10:00 PM";s:14:"listing_custom";s:0:"";}i:2;a:4:{s:11:"listing_day";s:

[2016-08-03 19:28] rohitmanglik opened #9 "Add more photos using Google Places API"
We already have Latitude and Longitude.

Fetching images should be simple through Google Place Photo API : https://developers.google.com/places/web-service/photos

[2016-08-03 19:29] #8 closed

[2016-08-05 14:17] rohitmanglik commented on #4
listing_banner_map_marker
listing_banner_map_type
listing_banner_map_zoom
listing_inside_view_location
listing_inside_view_location_latitude: latitude
listing_inside_view_location_longitude: longitude
listing_inside_view_location_zoom: 16
listing_google_street_view_latitude
listing_google_street_view_longitude
listing_google_street_view_zoom: 16
listing_banner_street_view_latitude
listing_banner_s

[2016-08-05 17:34] rohitmanglik commented on #4
New column name - old column name
post_title - name
post_content - about
post_name - name

claim_email - mail
claim_name - person to contact
claim_phone - phone

Listing_description - about

listing_address - address
listing_email - email
listing_gallery - Images URL
listing_google - address  - WRONG
listing_google_street_view - address
listing_google_map - address
listing_phone - phone
listing_in

[2016-08-06 20:36] alchem9st commented on #7
Changed contact person to listing_person

[2016-08-09 15:18] rohitmanglik commented on #6
The name of required column is listing_opening_hours

[2016-08-12 21:29] rohitmanglik commented on #7
listing_person column doesn't exist in WP Ultimate CSV Importer.

[2016-08-18 13:35] rohitmanglik commented on #3
`a:5:{i:1006;s:111:"http://preview.byaviators.com/theme/superlist/wp-content/uploadz/2015/10/photo-1425243749210-c3e3c231504d1.jpeg";i:1007;s:110:"http://preview.byaviators.com/theme/superlist/wp-content/uploadz/2015/10/photo-1441154283565-f88df169765a.jpeg";i:779;s:110:"http://preview.byaviators.com/theme/superlist/wp-content/uploadz/2015/10/photo-1428470341793-f73b1237fb98.jpeg";i:628;s:109:"htt

[2016-08-18 13:44] #5 closed

[2016-08-18 16:20] rohitmanglik opened #11 "Subsequent csv files are getting data of previous files"
We have two csv files in demo.
updated_small.csv is getting data of updated_sample.csv as well,

[2016-08-18 16:20] rohitmanglik opened #12 "User accounts are not created"
More on this later.  Stay tuned.

We also need to send welcome email.

[2016-08-18 16:22] rohitmanglik opened #13 "Run queries from multiple Google API keys"
Make provision to enter plural number of API keys. If Google maps show error in the current key, new key should be dequeued and used.

Also generate an API key from your personal account and send it across to rohit.manglik@gmail.com

[2016-08-18 19:31] alchem9st commented on #13
Made list for API keys, check geocodertest
If o/p verified, close the issue

[2016-08-19 02:44] rohitmanglik commented on #11
Just verified, issue is not yet resolved.

[2016-08-19 04:45] rohitmanglik commented on #4
Everything is done - awaiting final testing

[2016-08-19 04:46] rohitmanglik commented on #3
Linked Thread: https://wordpress.org/support/topic/import-image-gallery?replies=2#post-8771608

[2016-08-19 04:50] rohitmanglik commented on #6
Other sample values:

`a:7:{i:0;a:4:{s:11:"listing_day";s:6:"MONDAY";s:17:"listing_time_from";s:8:"07:30 AM";s:15:"listing_time_to";s:8:"08:00 PM";s:14:"listing_custom";s:0:"";}i:1;a:4:{s:11:"listing_day";s:7:"TUESDAY";s:17:"listing_time_from";s:8:"08:00 AM";s:15:"listing_time_to";s:8:"10:00 PM";s:14:"listing_custom";s:0:"";}i:2;a:4:{s:11:"listing_day";s:9:"WEDNESDAY";s:17:"listing_time_from";s:8:

[2016-08-19 05:41] mohitreddy1996 commented on #11
Found the mistake.
processed data itself is getting updated incorrectly.
we just extend self.ROWS. So it contains the data of sample also.

[2016-08-19 06:32] rohitmanglik opened #14 "Send welcome email"
1) Compare different options for welcome email -Rohit

Currently we are leveraging sendinblue.com

2) Create a template for that email - Raj and Piyush

3) Check options of Import plugin for the procedure. We might have to change our plan for that.

[2016-08-19 06:33] mohitreddy1996 commented on #11
Pushed the change.
After cross checking, Do close the issue.

[2016-08-19 08:09] rohitmanglik commented on #7
Posted the query at https://wordpress.org/support/topic/some-fields-are-missing-in-superlist?replies=1#post-8774084

[2016-08-19 11:21] rohitmanglik commented on #7
This two fields may not be present in the existing records (posts/directories).   As we show the available fields by fetching data from the DB, these two fields will not appear. Create a dummy record with these two fields and set the record as draft.  Try importing the data after doing the above step.
Hope this helps -Smackcoders

listing_person appears now. However, listing_website is still missi

[2016-08-30 13:33] anantharam commented on #13
It is supporting multiple API keys now, reopen this issue in case of any issues.

[2016-08-30 13:33] #13 closed

[2016-08-30 13:34] anantharam commented on #11
It is clearing the row cache on each run now.

[2016-08-30 13:34] #11 closed

[2016-08-30 13:35] anantharam commented on #7
Both listing_website and listing_person are available in the result csv now.

[2016-08-30 13:35] #7 closed

[2016-08-30 13:36] anantharam commented on #6
Is there a template that I can use to calculate the final string?
What do i do if the value for some of the days in the week are not available?

[2016-08-30 13:36] #4 closed

[2016-08-30 13:37] eriktelepovsky commented on #7
Btw. Add-on for WP All Import plugin was released few days ago (just to know):

https://wordpress.org/plugins/import-xml-csv-listings-to-inventor-wp/

[2016-08-30 13:47] rohitmanglik commented on #6
There is no template.

For fields of no data, Do it judiciously. Just check what does it mean
actually.

On Tuesday, 30 August 2016, anantharam <notifications@github.com> wrote:

--
Sent from iPhone

[2016-09-09 19:25] rohitmanglik commented on #6
I just tried to open updated_sample.csv in MS Excel. Data is not parsed correctly in Excel. Same is the case in our parsing library.

Serialized data should not have spaces and new line characters.

Can you please fix that.

[2016-09-09 20:36] rohitmanglik opened #15 "Case: Lat and Long are zero"
In case Latitude and Longitude are zero, change Latitude and Longitude to a location in their respective city.

[2016-09-10 13:16] abhikrsagar commented on #3
So if I have understood the problem correctly then it is that I will be given a csv file containing image URlLs to be downloaded.I have to download the images,rename them as hashvalue.extension.But what do you mean by updating image url in CSV file.Do we have to convert web based URL into localhost based URL or else if we updated the URL by modifying the file name in the CSV then that URL would be

[2016-09-10 13:26] abhikrsagar commented on #9
from selenium import webdriver
import os
import subprocess as sp
script_dir = os.path.dirname(os.path.realpath('__file__'))
#<-- absolute dir the script is in
rel_path = "traffic.png"
path = os.path.join(script_dir, rel_path)
#Enter the latitude and longitude of the location eg 28.6276616,77.2374855
lat=input('Enter the latitude of the place eg 28.6276616:')
lon=input('Enter the longitude of the p

[2016-09-10 13:52] rohitmanglik commented on #6
Check it out: http://www.unserialize.com/

[2016-09-10 14:05] rohitmanglik commented on #9
@anantharam @shubhiD Can you please check code of @abhikrsagar and let me know your comments.

Thanks

[2016-09-10 14:08] rohitmanglik commented on #3
@abhikrsagar this issue has to be resolved by a third party plugin. Might be you can look into any issue of https://github.com/rohitmanglik/scrap_careers

[2016-09-10 14:09] rohitmanglik commented on #3
@anantharam we have to change format of listing_gallery in above serialized string.

[2016-09-10 14:19] shubhiD commented on #9
I think this code will return a map photo not the photos of the institutions

[2016-09-10 14:21] abhikrsagar commented on #9
Ya right I have written the code to return map photo only.Can you give me a
brief of your requirement so that I can write the script accordingly

On Sat, Sep 10, 2016 at 7:19 AM, Shubhankar Dimri <notifications@github.com>
wrote:

[2016-09-10 14:24] shubhiD commented on #9
Like you are searching for the pic of IIT madras then we have to fetch all possible images under 10 would be sufficient

[2016-09-10 14:29] abhikrsagar commented on #9
so this can be accomplished by downloading some images from the google image search of the corresponding query ri8

[2016-09-10 14:34] shubhiD commented on #9
I had same plans, try it, although I have tried through google maps api, you try with image search but remember the google api for image search has been deprecated and there are other issues like images should be high quality aakash institute for specific location should return images based on its location

[2016-09-10 14:40] abhikrsagar commented on #9
ya I also read that google api has been depreciated but we can use selenium to automate the image search on backend,fetch image url and then I have my web scrapper in my git repository which will dwnld the image

[2016-09-10 14:42] shubhiD commented on #9
try it create a fork of this repo and update your code but selenium is slow but then also try we will see which method is better

[2016-09-10 14:42] shubhiD commented on #9
I already have images through google api's we will see what results in best approach

[2016-09-10 14:45] abhikrsagar commented on #9
sure I will try both ways.I have just started web scrapping and I was looking for some open source project where I can systematically contribute and learn and I am glad I have found the repository I was looking for so thanks for this repository

[2016-09-10 15:04] shubhiD commented on #9
I am a contributor too!

[2016-09-10 15:13] rohitmanglik commented on #9
@abhikrsagar @shubhiD Good to see you guys discussing. - Keep it up

@shubhiD - you said aerial view? Sounds interesting. Can you show some examples?

[2016-09-10 15:18] shubhiD commented on #9
its just like you search in google maps for the location it returns that location with some landmarks @rohitmanglik

[2016-09-10 15:20] rohitmanglik commented on #9
Ohh. We already have that in Google Maps on our site.

[2016-09-10 15:21] shubhiD commented on #9
yup like the one you showed for niks academy

[2016-09-10 17:36] anantharam commented on #6
What exactly is the protocol format used for this serializer or will any serializer work?
When I run the array through python default serializer I get the followin format :
(lp0
(dp1
S'listing_time_from'
p2
S'10 AM'
p3
sS'listing_day'
p4
S'MONDAY'
p5
sS'listing_time_to'
p6
S'7 PM'
p7
sa(dp8
g2
g3
sg4
S'TUESDAY'
p9
sg6
g7
sa(dp10
g2
g3
sg4
S'FRIDAY'
p11
sg6
g7
sa(dp12
g2
g3
sg4
S'WEDNESDAY'
p13
sg6

[2016-09-10 17:40] rohitmanglik commented on #6
Check out http://www.unserialize.com/s/0a0fa398-b1fc-a3e9-ca16-000049614183

Data will come in following format if you deserialize it.
`
Array
    (
    [0] => Array
        (
            [listing_day] => MONDAY
            [listing_time_from] => 07:30 AM
            [listing_time_to] => 08:00 PM
            [listing_custom] =>
        )

    [1] => Array
        (
            [listing_day] => TUE

[2016-09-10 17:42] anantharam commented on #6
Yes, that's the same array that I have but how do I serialize it to the format given above?
What kind of serialization format is that?
I couldn't find the name of any serialization format that gives serialized output like that from a quick google search...

[2016-09-10 19:17] rohitmanglik commented on #6
http://www.php2python.com/wiki/function.unserialize/ -this library does exactly what we need to serialize in Python.

[2016-09-10 20:08] anantharam commented on #6
So the name of this serialization is phpserialization? That's all I wanted to know...
I am closing this issue now..
a:7:{i:0;a:3:{s:17:"listing_time_from";s:5:"10 AM";s:11:"listing_day";s:6:"MONDAY";s:15:"listing_time_to";s:4:"7 PM";}i:1;a:3:{s:17:"listing_time_from";s:5:"10 AM";s:11:"listing_day";s:7:"TUESDAY";s:15:"listing_time_to";s:4:"7 PM";}i:2;a:3:{s:17:"listing_time_from";s:5:"10 AM";s:11:"

[2016-09-11 06:11] rohitmanglik commented on #6
Errors during final execution of data.

[2016-09-11 06:18] shubhiD commented on #6
What was the error?

[2016-09-11 06:27] rohitmanglik commented on #6
If you check out final output of listing_opening_hours in unserialize.com ->

1) It's not being parsed correctly
2) Even if it parses correctly: it has values, such as mondaystarttime, that are not present in sample

[2016-09-11 06:39] shubhiD commented on #15
Issue is resolved hence closing

[2016-09-11 06:39] #15 closed

[2016-09-11 06:51] rohitmanglik commented on #15
Did you add an extra column for it? What's the column name? I am unable to find it.

[2016-09-11 06:51] rohitmanglik commented on #6
Verified the fix. Hence closing.

[2016-09-11 06:51] #6 closed

[2016-09-11 06:58] shubhiD commented on #15
No till now I haven't

[2016-09-11 10:48] anantharam commented on #6
@rohitmanglik  Where did you see those mondaystarttime and stuff?
The example output that I have posted in the issue worked perfectly in unserialize.com

[2016-09-11 11:09] shubhiD commented on #6
@anantharam  no issues now the code is working as expected can you share your thoughts on the issue of adding images via google places api?

[2016-09-11 15:19] rohitmanglik opened #17 "Google Autocomplete API"
Run Google Autocomplete API to correct our initial Dataset.

Many of our entries are not precise i.e. the entries need to be improved to use on our website. Use this API to correct all the data before we call other APIs.

It will cause a lot of updations in our initial record so make sure when we call the API, we supply enough information to find correct location.

At the end of function- console

[2016-09-11 15:21] rohitmanglik opened #18 "Lat and Long - not precise"
Right now Lat and Long are completed screwed up. Make sure data is precise. It is showing same lat and long for most of the entries. Revert back the code if required.

Make sure Lat and Long are correct for at least 70 out of 77 records. For other 7 we can use city lat and long.

[2016-09-11 15:22] rohitmanglik opened #19 "Case of no image"
At the end of al the processing, some of the places will not have any image.

In such case, create a new image as featured image. - assign that image only in featured image. Don't assign it to Images URL or listing_gallery columns.

We are open for suggestions of the way image should be constructed.

Thanks

[2016-09-11 15:24] rohitmanglik opened #20 "Search in Google Images for Institute Photos"
This step should be after we are done with Google Maps API, http://www.panoramio.com/, Google Places etc.

In case no images are found in above result, get top 5 images from Google Image Search.

[2016-09-11 15:25] rohitmanglik opened #21 "Panoramio"
Explore Panoramio for images. http://www.panoramio.com/

[2016-09-11 15:26] rohitmanglik opened #22 "Bing Maps Search and Image Search"
For cases that are not able to be comprehended by Google APIs, leverage Bing to get the Lat and Long and Images.

[2016-09-12 11:57] shubhiD commented on #17
It can just change place name nothing else and I don't think it would be a good move

[2016-09-12 12:05] shubhiD commented on #21
Panoramio can't be used for getting places can be just used for images around the locations that too popular ones for example I search for IIT Delhi it never brings IIT Delhi it shows area around IIT Delhi

[2016-09-12 12:41] rohitmanglik commented on #21
Makes sense.

[2016-09-12 12:41] #21 closed

[2016-09-12 12:58] rohitmanglik commented on #17
**Step 1:**

First using Autocomplete API we can get

1) place_id:
2) reference:

Store them in a new column in our CSV file.

**Step 2:**

Using above two values make requests to

 https://developers.google.com/places/web-service/details#PlaceDetailsRequests

This one is superb. it has all the information that we needed including website, phone number, reviews, rating, comments etc etc. - We don'

[2016-09-12 13:05] shubhiD commented on #17
okay will see to it on adding more columns for ratings etc

[2016-09-12 14:35] rohitmanglik commented on #17
Create a new class for this functionality..

[2016-09-12 18:24] rohitmanglik commented on #17
Algorithm for Google Autocomplete API

Step 1: First search for a query string with "Name of place, name of city"
Step 2: If the value in Step 1 is singular goto step 3 else goto step 5
Step 3: Get reference and place id of step 2 and call https://developers.google.com/places/web-service/details#PlaceDetailsRequests
Step 4: Update data only if data of that column is not available and create more c

[2016-09-13 05:25] rohitmanglik opened #24 "Reformat and performance enhancement"
Apply following changes in code

1) Change name of class getCodeTest to addGeoCode.py
2) Separate all code related to image in a different class.
3) Create a new class for autoComplete.
4) make sure all the reading and writing to files is done in a separate file.

[2016-09-13 05:28] rohitmanglik commented on #18
If value is not set in "Precise" column -> It's not precise.

With latest code changes, we have a huge success ratio. I am not sure whether we can still improve the lat and long.

Further improvement will require these issues to be solved: Autocomplete API and Bing Maps Search, so let's hold on to this.

[2016-09-13 07:57] rohitmanglik commented on #9
Getting following error during runniing:
list index out of range

[2016-09-13 07:59] shubhiD commented on #9
That are for the ones for which no photos were grabbed

[2016-09-13 07:59] shubhiD commented on #9
I can change the error output if required

[2016-09-13 08:00] rohitmanglik commented on #9
I see. Please do so. Thanks :)

[2016-09-13 08:11] rohitmanglik commented on #18
In the latest file, NIKS Academy has lat and long as list index out of range 22.7258984, 75.887389. These values are more than 1 degree far from city. Please check.

[2016-09-13 08:16] shubhiD commented on #18
Thats why prec_loc is not marked true

[2016-09-13 08:20] rohitmanglik commented on #18
I mean as per our code, if their location is way far from city lat and long, they should be assigned city's lat and long. - this part of logic hasn't worked with a few entries.

[2016-09-13 08:38] shubhiD commented on #18
fixed

[2016-09-14 07:40] rohitmanglik commented on #19
Way 1: First Character of Name with a cool background color- just the way GMail does it

Way 2: Name of whole Institute with some cool background color.

The featured image will replace "?" at http://directory.edudrona.com/location/agra/.
Size of image must be atleast 200px*200px.

[2016-09-14 17:50] rohitmanglik opened #25 "Remove all the images that matches a pattern"
All images that match the pattern "*businessphoto-t*"are thumbnails(low quality images) so should be removed from Images URL/listing_gallery.

[2016-09-14 17:52] rohitmanglik commented on #3
We had to write PHP Code in Step 3 to resolve this issue.

[2016-09-15 04:45] rohitmanglik commented on #19
I am getting this error during compilation:

  File "geocodertest.py", line 187, in <module>
    f.process()
  File "geocodertest.py", line 49, in process
    self._addFeaturedImage();
  File "geocodertest.py", line 159, in _addFeaturedImage
    row['featured_image'] = fetch(row['Name']); #creates png image
  File "/home/user/scrap-preprocessor/imagesFetch.py", line 13, in fetch
    fnt=ImageFont.

[2016-09-15 06:19] shubhiD commented on #19
have you installed PIL? And there is a new imagesFetch.py file I created

[2016-09-15 12:34] rohitmanglik commented on #19
Just a small change - put these images in listing_gallery and images URL as well - if the field is empty.

[2016-09-15 12:35] rohitmanglik commented on #19
After changes applied: http://directory.edudrona.com/location/agra/?sort-by=published

[2016-09-16 07:59] rohitmanglik commented on #19
Passed all the test cases, just ned to improve image quality.

[2016-09-16 09:01] shubhiD commented on #19
500*500 would suffice?

[2016-09-16 10:25] rohitmanglik commented on #19
Even 250*250 is a good image but it's still getting blurred. Yes, let's try with 500*500.

[2016-09-16 10:46] rohitmanglik commented on #12
First we should create users and then add them over here.

Sent an inquiry email to WP All Import.

[2016-09-16 11:03] rohitmanglik commented on #3
A small bug: only 3 images are shown.

[2016-09-16 14:43] rohitmanglik commented on #3
Fixed the changes in server

[2016-09-16 14:43] #3 closed

[2016-09-17 18:21] rohitmanglik opened #26 "Error while processing CSV file"
We are getting following error while processing CSV.

Probably we have to check whether locality is empty before calling title() on it.

`09/17/2016 06:13:19 PM WARNING: Geocode API failure for : '2nd Floor, Shop No.7, Siddhivinayak Estate Amraiwadi, Ahmedabad, 560040, India'

09/17/2016 06:13:20 PM WARNING: Trying by adding name failed for: '2nd Floor, Shop No.7, Siddhivinayak Estate Amraiwadi, A

[2016-09-17 21:36] shashwat-vik opened #28 "Encoding error for using str to convert from Unicode into Text"
**Instead of using str() directly, .encode() should be used to encode the string.
Getting the following error.**

[2016-09-18 04:08] rohitmanglik commented on #28
Refer http://stackoverflow.com/questions/9942594/unicodeencodeerror-ascii-codec-cant-encode-character-u-xa0-in-position-20

[2016-09-18 04:10] rohitmanglik commented on #26
Verified the fix

[2016-09-18 04:10] #26 closed

[2016-09-18 04:49] rohitmanglik opened #29 "Error while saving CSV File"
09/18/2016 04:47:34 AM ERROR: Something awful happened when processing result.csv
Traceback (most recent call last):
  File "geocodertest.py", line 224, in _writeCSV
    writer.writerow(row)
  File "/usr/lib/python2.7/csv.py", line 152, in writerow
    return self.writer.writerow(self._dict_to_list(rowdict))
  File "/usr/lib/python2.7/csv.py", line 148, in _dict_to_list
    + ", ".join([repr(x) fo

[2016-09-18 05:26] rohitmanglik commented on #19
Verified the fix.

[2016-09-18 05:37] rohitmanglik opened #30 "New column: Total Views"
Create a column: Total Views and put a random integer between 50 and 200 for entries that don't have place ID.

For entries that have place ID, put values between 200 and 500.

[2016-09-18 05:48] rohitmanglik opened #31 "Import comments"
Make provision in website to import comments.

[2016-09-18 12:33] shashwat-vik commented on #29
Described the cause of this error in the commit's comment.

[2016-09-18 13:57] #28 closed

[2016-09-18 15:08] rohitmanglik commented on #29
Verified fix.

[2016-09-18 15:08] #29 closed

[2016-09-18 15:09] rohitmanglik commented on #24
We will be able to process this file across complete dataset in less than a week, which is fine.

[2016-09-18 15:09] #24 closed

[2016-09-18 15:19] rohitmanglik commented on #25
Restating above issue:

A cell can have plural number of comma separated values of Image URLs.

Generally half of them will have "businessphoto-m" and other half will have "businessphoto-t". Remove the images that have "businessphoto-t" in the URL.

[2016-09-18 17:00] #25 closed

[2016-09-19 08:07] rohitmanglik opened #33 "New column: Avg Rating"
Create a new column avg rating and give rating on the basis of avg ratings fetched from from Google Places.

If rating is not found, assign 3.5

[2016-09-19 14:10] rohitmanglik opened #34 "Increase fcgidIOTimeout to unlimited"
In Server, export gets timed out failed after 150-200 entries.  It's because FCGI gets timedout.

Make necessary changes in Apache2.

[2016-09-19 14:16] rohitmanglik commented on #34
https://community.bitnami.com/t/fcgidiotimeout-setting/44429/1

[2016-09-19 16:59] rohitmanglik commented on #34
Value updated to 300,000. Need to verify fix.

    <Proxy "unix:/opt/bitnami/php/var/run/wordpress.sock|fcgi://wordpress-fpm" timeout=300000>

[2016-09-19 16:59] #18 closed

[2016-09-19 17:05] rohitmanglik commented on #19
@shubhiD Just now I ran the code but I am unable to get images of Ahmedabad Institutes (images of Agra Institutes are already present).

Code is broken somewhere.

[2016-09-19 17:06] rohitmanglik commented on #9
Verified the results.

[2016-09-19 17:06] #9 closed

[2016-09-19 17:09] shubhiD commented on #19
can you send the csv file of Ahmdabad institutes?

[2016-09-19 17:11] rohitmanglik commented on #19
It's in the input folder.

[2016-09-19 17:12] shubhiD commented on #19
the png images are not created right?

[2016-09-19 17:13] rohitmanglik commented on #19
Yes

[2016-09-19 17:24] shubhiD commented on #19
Can I have the output file as well?

On Sep 19, 2016 10:43 PM, "Rohit Manglik" <notifications@github.com> wrote:

[2016-09-19 17:46] rohitmanglik commented on #19
Committed.

[2016-09-19 18:29] rohitmanglik commented on #17
Other than the values currently added, update/Add following records from Google Places API

1) Address, City, Locality,  (add if any of them are not present)
2) Contact number (add if not present)
3) Website (add if not present)
4) Opening Hours - we might have to do a lot of coding for this
5) Permanently Closed - very important - either we have to delete such entries or make provision in Databas

[2016-09-19 18:37] rohitmanglik commented on #33
Rating is inconsistent.

e.g. sample.csv-> record 27 (NIIT)  has 4 ratings (5,5,5,4) and still the average rating is 3.5
same case is with record 22 (Arena Animation) and so on.

If the problem is in our code: we can easily fix it.
If data of Google Places is inconsistent - we have to write code to calculate average rating.

[2016-09-20 04:07] rohitmanglik commented on #17
7) Google+ Page URL ("url" parameter)

[2016-09-20 05:12] rohitmanglik opened #36 "Facebook Graph API"
Facebook has a lot of information about places in India. Sometimes that information is at par with that of Google. e.g. we might not share photo with Google+ but we do it on FB.

Through this we can also get Facebook Page URL, owner's information etc.

We certainly have to create a facebook app to fetch that information.

[2016-09-20 11:37] shashwat-vik commented on #33
Data of Google Places is inconsistent, because in some cases there are Ratings made by people, but there is no Aggregate Rating key in the json response.
Check that on this [link](https://www.google.co.in/maps/place/NIIT/@27.4876295,77.679584,17z/data=!4m5!3m4!1s0x3973713c1ff18e5b:0x9e3206e5ebace6f8!8m2!3d27.4876295!4d77.6817727?hl=en)
.

So I will be modifying the code to calculate aggregate when

[2016-09-20 16:19] shubhiD commented on #22
Bing results aren't that good

[2016-09-20 16:26] shubhiD commented on #20
I guess crawling is prohibited on google and may be will have to deal with captcha though not sure others please comment

[2016-09-21 09:57] shubhiD commented on #33
Verified, I suppose issue can be closed

[2016-09-22 12:30] rohitmanglik commented on #34
I checked server log and we are not getting this error anymore. However we are getting redirection errors. Its fixed is burried somewhere deep inside our htaccess file.
Though it won't change anything, we might get better speed on our server.

[2016-09-23 16:10] rohitmanglik opened #38 "Not all contact numbers are reflected in end result"
In Step 3, only first contact number is parsed. Make necessary changes in code to reflect other contact numbers as well.

[2016-09-23 16:11] rohitmanglik commented on #38
I will take care of this with Erik.

[2016-09-24 13:46] rohitmanglik commented on #38
Update: I made the coding in backend. It's just not reflected in UI

[2016-09-24 13:47] rohitmanglik commented on #20
Closing as there is no update.

[2016-09-24 13:47] #20 closed

[2016-09-24 21:39] gupta-shantanu commented on #36
8f334d3 searches facebook page, description and cover photo from GraphAPI and also attempts to repair voids if possible. However, data obtained from facebook is quite sparse because most of institutions are not listed on facebook. It works well for prominent institutes.

[2016-09-25 03:54] rohitmanglik commented on #34
Both issues are apparently fixed. I will reopen it if the issue comes once again.

[2016-09-25 03:54] #34 closed

[2016-09-25 05:07] rohitmanglik commented on #33
I just view the output, it shows aggregate rating when we have individual rating, which is good.

However, when Google doesn't have individual rating but it has aggregate rating, we are assigning a default value  (i.e. 3.5) to aggregate rating. Make necessary changes in code to put aggregate rating in the code.

[2016-09-26 03:57] rohitmanglik opened #41 "Error while processing CSV file: Ahmedabad"
In middle of console output, I got following errors:

	Group Tuition
	Adding rating and reviews
	New Info Added from Facebook
	Details:64 Facebook Link:263 Cover:193
	Website:72 Pincode:0 Address:30 Images:0
	09/25/2016 01:13:50 PM ERROR: Something awful happened when processing result.csv
	Traceback (most recent call last):
	  File "geocodertest.py", line 320, in _writeCSV
		writer.writerow(row)

[2016-09-26 04:58] rohitmanglik commented on #12
Done. Needs final testing

[2016-09-26 04:58] rohitmanglik commented on #31
Done. Needs final testing.

[2016-09-26 04:59] rohitmanglik opened #42 "Insert dummy records to increase views"
Write a SQL query to increase number of views of a place.

[2016-09-28 07:08] rohitmanglik commented on #17
Updates:
5) permanently_closed is a boolean flag indicating whether the place has permanently shut down (value true). If the place is not permanently closed, the flag is absent from the response.

6) We need a URL for Map Polygon. Kindly refer https://developers.google.com/maps/documentation/javascript/examples/polygon-arrays
https://developers.google.com/maps/documentation/utilities/polylineutili

[2016-09-29 18:43] rohitmanglik opened #44 "In Reviews convert comma to &#44;"
Reviews returned by Google have commas ",". These comma interfere in our processing of data in next step.

In reviews, whenever we have comma returned IN the user review, change it to its HTML equivalent **&#44;** .

All the reviews will continue to be separated by comma.

[2016-09-29 18:49] rohitmanglik opened #45 "Improve URL format of dynamically generated images"
We are still not able to fetch dynamically generated images.

e.g. check following output:

	`user@edudrona-prod-vm:~/apps/wordpress/htdocs$ wget static.careerbreeder.com/output/images/Swastik Tutorials.png
	--2016-09-29 18:47:56--  http://static.careerbreeder.com/output/images/Swastik
	Resolving static.careerbreeder.com (static.careerbreeder.com)... 104.28.11.7, 104.28.10.7, 2400:cb00:2048:1::681

[2016-09-29 18:58] rohitmanglik commented on #42
Code tested. It's creating an error when we execute on server- too many calls.

[2016-09-29 19:10] rohitmanglik commented on #42
We have following PHP for loop to insert values in database

`for($i=0; $i<$numberOfRecordsToInsert; $i++) {
        $wpdb->insert($wpdb->prefix . 'listing_stats', array(
            'key' => $id,
            'value' => md5(1),
            'ip' => $_SERVER['REMOTE_ADDR'],
            'created' => current_time('mysql'),
        ));
    }`

It makes hundreds of calls for every row. We need to write

[2016-09-29 19:14] rohitmanglik commented on #31
Waiting for Issue#44 to fix for final testing

[2016-09-29 19:15] #22 closed

[2016-09-30 06:22] rohitmanglik commented on #45
Tested the fix. - Working now

[2016-09-30 06:22] #45 closed

[2016-09-30 06:26] rohitmanglik commented on #44
For INPS Lucknow, output is:

Best coaching for MCA preperation. Was a student of 2015-2016 batch and managed to score well even while appearing for BCA exams. All in all provides the best package for MCA preperation.,I was a student of Inps for mca 2015-2016 batch and all I can say is that they are the best at what they do.No one can teach maths better than nitin sir and other faculty for reasoni

[2016-09-30 07:45] #44 closed

[2016-09-30 11:57] rohitmanglik commented on #31
Tested the fix

[2016-09-30 11:57] #31 closed

[2016-09-30 11:57] rohitmanglik commented on #19
Tested the fix

[2016-09-30 11:57] #19 closed

[2016-09-30 11:58] rohitmanglik commented on #12
Testing results:

A) Contact number is not added
B) Errors in a few special cases - need further debugging

[2016-09-30 15:02] rohitmanglik opened #46 "Make first character of all names capital"
Some of the names in output file have first character small.

e.g.
- deori Road, laxmi Palace, Madhuvan Colony, Agra, Uttar Pradesh 282001, India : "d" and "l" over here
- agra: "a" over here
- Shop No. 5, 2nd Floor Mahatma Gandhi Road, agra, 282002, India: "a" of agra over here.

Capitalize first character of all the names.

[2016-09-30 15:03] rohitmanglik opened #47 "Update documentation of how to run script in background"

[2016-09-30 15:04] rohitmanglik opened #48 "Test with updated sample dataset and rectify errors."

[2016-09-30 18:46] gupta-shantanu commented on #41
@shubhiD is this error fixed now?

[2016-09-30 18:47] shubhiD commented on #41
nope

[2016-09-30 20:05] gupta-shantanu commented on #46
092d660 should fixes this.

[2016-09-30 21:20] rohitmanglik commented on #12
B) Issue changed to https://wordpress.org/support/topic/update_user_option-not-working/
C) Listing_person is not getting added.  - raised request.

[2016-09-30 21:21] #42 closed

[2016-09-30 21:21] rohitmanglik commented on #14
Dependency on #12

[2016-10-01 03:10] rohitmanglik commented on #41
@gupta-shantanu did you have a fix for this issue?

[2016-10-01 11:44] gupta-shantanu commented on #41
@rohitmanglik we can encode everything in utf-8 before writing, but better solution would be to check which API is returning this character and deal with it there. I was unable to trace exact record for which it fails. File is too big and my connection is slow, @shashwat-vik can you help?

[2016-10-01 11:54] shubhiD commented on #41
I am thinking of encoding dict values and keys just before writing to csv

On Oct 1, 2016 5:14 PM, "shantanu gupta" <notifications@github.com> wrote:

@rohitmanglik <https://github.com/rohitmanglik> we can encode everything in
utf-8 before writing, but better solution would be to check which API is
returning this character and deal with it there. I was unable to trace
exact record for which it fai

[2016-10-01 12:04] shubhiD commented on #41
The last time I checked I think the error was from fbGraph.py

On Oct 1, 2016 5:24 PM, "Shubhi Dimri" <dimrishubhi@gmail.com> wrote:

[2016-10-01 18:07] rohitmanglik opened #49 "Transactional SMS"
Create a new Column for Mobile number.

Scan through the phone numbers and filter out the numbers that don't belong to mobile,

[2016-10-02 02:58] rohitmanglik commented on #41
Still getting error while processing csv file.

[2016-10-02 07:48] rohitmanglik commented on #47
Code is stuck after adding photos

	bitnami@ip-172-31-4-116:~/rohit/scrap-preprocessor$ python main.py > 2016102.log 2>&1 &
	bitnami@ip-172-31-4-116:~/rohit/scrap-preprocessor$ cat 2016102.log
	['./input/sample_big.csv']

	RUNNING AUTOCOMPLETE
	100%

	####################
	FIXED      :  381
	MULT-MATCH :  20
	NO-MATCH   :  12
	NO-PRED    :  586
	NO-DATA    :  1
	####################

	UPDAING ADDR

[2016-10-02 08:44] rohitmanglik commented on #41
10/02/2016 08:20:43 AM ERROR: Something awful happened when processing result.csv
	Traceback (most recent call last):
	  File "geocodertest.py", line 216, in _writeCSV
		writer.writerow(row)
	  File "/usr/lib/python2.7/csv.py", line 152, in writerow
		return self.writer.writerow(self._dict_to_list(rowdict))
	UnicodeEncodeError: 'ascii' codec can't encode character u'\u2019' in position 58: ordinal

[2016-10-02 12:04] gupta-shantanu commented on #41
@shubhiD I coudn't trace this new error in fbGraph (though last time it existed in street address field returned by fb). Please help me recreate the error (give the record number or name for which error occurs).
If problem has multiple source, I guess we should encode all the fields and records.

[2016-10-02 12:05] gupta-shantanu commented on #46
Please verify if this is what you wanted.

[2016-10-02 14:12] rohitmanglik commented on #46
Except two comments in 092d660, it's working fine.

[2016-10-02 15:02] #46 closed

[2016-10-02 16:40] rohitmanglik commented on #36
Latest log:
	Details:66 Facebook Link:282 Cover:204
	Website:67 Pincode:0 Address:31 Images:234 Verified 0/282 Phone:220 Emails:0

Why Emails are zero? Is it in every case? If yes, why are we considering it at all?

[2016-10-02 16:42] rohitmanglik commented on #41
Latest console output:

	bitnami@ip-172-31-4-116:~/rohit/scrap-preprocessor$ python main.py
	['./input/sample_big.csv']

	RUNNING AUTOCOMPLETE
	100%

	####################
	FIXED      :  381
	MULT-MATCH :  20
	NO-MATCH   :  12
	NO-PRED    :  586
	NO-DATA    :  1
	####################

	UPDAING ADDRESS

	Adding photos
	100%
	No of place id ->381
	Permanently closed is  Arihant Institute
	Permanentl

[2016-10-02 16:42] #41 closed

[2016-10-02 16:43] rohitmanglik commented on #17
I have to make necessary changes in step 3 to accommodate 5)

[2016-10-02 16:45] rohitmanglik commented on #36
@shashwat-vik repeat autocomplete patter or create a new one over here as well.

[2016-10-02 16:46] rohitmanglik commented on #48
Running all the test cases!

[2016-10-02 17:31] shubhiD commented on #49
Discussion: How to verify if a number is landline or mobile?
Suggestions please

[2016-10-02 18:05] gupta-shantanu commented on #49
@shubhiD I guess we cannot be 100% accurate but for our purpose, 10 digit numbers > 7billion are definitely mobile numbers. We can also check if number has international code appended at the beginning and remove it. We may alternatively construct simple regex for the same.

Many mobile numbers might still be left out but, any more effort or use of external API would not make much difference.
This

[2016-10-02 18:11] rohitmanglik commented on #49
Also check for some free Carrier Lookup API - if there is some inexpensive one, we can go for it.  We cannot for anyone that charges per query.

[2016-10-02 18:13] shubhiD commented on #49
Twilio is one such

[2016-10-02 18:18] shubhiD commented on #49
@gupta-shantanu  making regex would be complex or going by the length of digits to say if a number is landline or mobile, though not complex but many cases might be left out as you pointed already so I guess we need something for number lookup

[2016-10-02 18:19] rohitmanglik commented on #49
Excellent. It's free as well.

https://www.twilio.com/lookup#pricing (we just need Connection Lookup).

I also tried searching for my number and it worked great.  (Caution: you have to enter ISD code as well).

Going for third party service can actually save money for us in SMS plans.

[2016-10-02 18:21] rohitmanglik commented on #49
If you guys also agree, we can create a separate class for this lookup. Also contribute your keys as we might again be restrained by fair usage policy.

[2016-10-02 18:26] shubhiD commented on #49
Interesting fact whatsapp uses twilio
One more is whitepages.com
We have to take care of codes and have to change 0 with 91

[2016-10-02 18:28] rohitmanglik commented on #48
@gupta-shantanu  While processing scrap_visakhapatnam.csv, we are getting following error

	No of place id ->132
	Permanently closed is  M N R School
	Permanently closed is  Nazareth Play School
	Permanently closed is  M N R School
	viewports for  14
	ADDING GEOCODES...
	Processed 50 rows.
	Processed 100 rows.
	Processed 150 rows.
	Total precise entries: 145 out of 168
	Fetching info from FB Graph

[2016-10-03 04:26] rohitmanglik commented on #49
As suggested by @shubhiD we can write a beautiful soap code for http://www.whitepages.com/phone/91-5692-241-887

Twilio is vrey costly for our purpose.

[2016-10-03 07:00] gupta-shantanu commented on #49
twilio is free, right?

[2016-10-03 07:01] rohitmanglik commented on #49
Nop! I and Shubhankar created accounts yesterday. They are not free!

[2016-10-03 07:12] gupta-shantanu commented on #49
[code]
Isn't this enough for our purpose?

[2016-10-03 07:19] rohitmanglik commented on #48
Manually verified the fix. Closing the issue.

[2016-10-03 07:19] #48 closed

[2016-10-03 08:51] rohitmanglik commented on #49
Just in case above sites don't work out, try https://www.nexmo.com/

[2016-10-03 09:14] gupta-shantanu commented on #49
@rohitmanglik Turns out they are giving some limited free trials to new users. As for whitepages.com, we can't use beautiful soup, the site loads content dynamically to prevent scrapping.
@shubhiD should we try Twilio with multiple trial accounts? Can you help me find max limit of the trial? Somewhere I read that it has $30 free credit but it ain't on the site.

[2016-10-03 09:24] rohitmanglik commented on #49
Last option: https://www.google.co.in/search?q=regex+for+landline+number&oq=regex+for+landl&aqs=chrome.1.69i57j0l5.7412j0j4&sourceid=chrome&ie=UTF-8

[2016-10-03 12:07] shubhiD commented on #49
Nexmo is paid.

[2016-10-03 12:17] shubhiD commented on #49
@gupta-shantanu we can try with multiple trial accounts, if you are saying we get $30 as trial so we can have 6000 searches per trial account, then we have to separately verify these numbers I guess as if we will include in our main code, running it every time will be not useful.

I guess we need to do this transactional number thing once we have all the phone numbers in hand, and I suppose we sho

[2016-10-03 12:28] shubhiD commented on #47
I guess there are no such errors now?

[2016-10-03 13:55] rohitmanglik commented on #47
I got following error while processing scrap4_mumbai.csv using updated documentation.

		   # CHANGING QUERY(3)
			NOT VERIFIED
	14      # CHANGING QUERY(1)
			# CHANGING QUERY(2)
			MATCHING STATES
			-->  St. Paul College, Mumbai Metropolitan Area, Vitthalwadi, Ulhasnagar, Maharashtra, India
			STATE MATCHED
			RES:  VERIFIED
	15      # CHANGING QUERY(1)
			MATCHING STATES
			-->  Traceback (mos

[2016-10-03 15:24] shubhiD commented on #47
I think @shashwat-vik can help in this regard, he updated his code recently

[2016-10-03 16:24] shashwat-vik commented on #47
Didn't get any errors after running for the entire file of scrap4_mumbai.csv

`2286    # CHANGING QUERY(1)
        -->  Vastra Emporium, Old Panvel, Navi Mumbai, Maharashtra 410206, India
        PINCODE PRESENCE IN PREDICTION CONFIRMED
        RES:  VERIFIED
####################
VERIFIED     :  1074
NOT VERIFIED :  1211
####################
`

[2016-10-03 16:28] rohitmanglik commented on #47
Can you run the code again whole data set and check if any error comes? Which server are you using?

Might be there are some configuration issues in the server. As finally script needs to be run in our server, can you please cross verify by running it over there.

[2016-10-03 20:10] rohitmanglik commented on #14
Everything done. Just waiting for proof read, which should be taken care separately.

[2016-10-03 20:10] #14 closed

[2016-10-03 20:11] rohitmanglik commented on #12
Issue B) is fixed.

[2016-10-03 20:16] rohitmanglik commented on #12
Following issues will be taken care in #12
A) Contact number is not added
C) Listing_person is not getting added. - raised request.

[2016-10-03 20:16] #12 closed

[2016-10-03 20:16] rohitmanglik commented on #38
A) Contact number is not added
B) Listing_person is not getting added. - raised request.

[2016-10-04 02:42] rohitmanglik commented on #47
Error persists. I  got following reply:
	bitnami@ip-172-31-4-116:~/rohit/scrap-preprocessor$ cat 201610032015.log
	['./input/scrap4_mumbai.csv', './input/scrap_rajkot_output_1.csv', './input/nagpur_output_1.csv', './input/vijayawada_output_1.csv', './input/sample_big.csv', './input/scrap_visakhapatnam.csv', './input/sample.csv', './input/scrap_thrissur_output_1.csv']

	Current file is ./input/scra

[2016-10-04 03:04] rohitmanglik commented on #17
With latest fixes of @shashwat-vik and @shubhiD, it's pending review and required modifications in Step 3.

[2016-10-04 11:37] shashwat-vik commented on #47
Verified the fix in current commit 4cd797e646c30a0b186d446dedbc8c65f45cef74

[2016-10-04 19:56] shashwat-vik commented on #47
Updated the documentation for the concerns in the commit 6b0e7af521f21a56a821471bc2aa66ae23a88450

Ran the scripts as described by the updated documentation.
No errors in the log.
Hence closing the issue.

[2016-10-04 19:56] #47 closed

[2016-10-06 02:25] rohitmanglik commented on #17
@shubhiD what's the column for 6) Geometry -> location and viewport?

[2016-10-06 02:31] rohitmanglik commented on #49
@gupta-shantanu @shubhiD I saw your comments on 6000 requests per trial account. Every row has around 2-3 entries so it means one API key will cater to ~2500 rows.

We have 2lakh rows so it will need 80 API keys. +20 keys for testing, buffer and errors.

If I put someone from Operations team to get 100 API keys, is it possible to get them in a day? Do he need to get 100 different mobile number, wh

[2016-10-06 02:31] rohitmanglik commented on #38
B) is resolved.

[2016-10-06 02:53] shubhiD commented on #17
location we have as latitude and longitude
I haven't added column for viewport, I was just calculating how many viewports are there. Out of 77, 8 had  viewport and out of 1000, 99 had viewport, shall I add them?

[2016-10-06 02:54] rohitmanglik commented on #17
I just realized 5) is linked with same coding as #38. Both of them will be done simultaneously by Erik.

[2016-10-06 02:58] shubhiD commented on #49
@rohitmanglik  Shantanu bhaiya has found a way in which differentiating mobile number from landline number is a easy task, no money required for that

[2016-10-06 03:02] shubhiD commented on #17
@rohitmanglik Shall I add viewport? Approximately 10% of places have that

[2016-10-06 03:20] rohitmanglik commented on #17
Yes, please go ahead.

[2016-10-06 03:21] rohitmanglik commented on #49
ohh that's great!

[2016-10-06 12:00] shubhiD commented on #49
Some mobile numbers are starting from 91 instead of +91,Is it a issue? other than that the issue can be closed, the fix is working great

[2016-10-06 18:52] rohitmanglik commented on #36
Got following error in sample_big.csv

	`0%10/06/2016 06:48:49 PM ERROR: Error loading information from facebook for Perfect Career Education
	Traceback (most recent call last):
	  File "/home/bitnami/rohit/scrap-preprocessor/fbGraph.py", line 177, in processAll
		node = self.searchPlace(row)
	  File "/home/bitnami/rohit/scrap-preprocessor/fbGraph.py", line 45, in searchPlace
		if unicode(pin) ==

[2016-10-06 18:52] shashwat-vik commented on #17
Decisions made by Autocomplete is really important for the accuracy of data.

So anyone working on any issue or feature, please keep an eye on the choices made by Autocomplete.
The choice made for each row is in the block/line  just before the line "RES : _______" that is the last statement indicating the fate for each row.

In case of any irregularity as to why a prediction was taken or not, do l

[2016-10-06 19:00] rohitmanglik commented on #49
`2%Bad Phone number +91-890536336
4%Bad Phone number +91-+ 91- 98989 99012
19%Bad Phone number +91-79-26421298 / 99
25%Bad Phone number +91-79 - 661318
33%Bad Phone number +91-+ 91-02764-260 287
45%Bad Phone number +91-(+91)-79-26568755
67%Bad Phone number +91- - 27492592
78%Bad Phone number +91-Bhanwar Rathore +91 98250 57598
86%Bad Phone number +91-9825790129/9099984983/07940080567
89%Bad Phone

[2016-10-07 13:26] rohitmanglik opened #50 "Step 3: Get Vendors"
To complete Step 3, we need to get

1) SMS Vendor
2) EMail Vendors.
3) Upgrade Computation Power of our server
4) Increase storage space

[2016-10-07 13:27] rohitmanglik commented on #50
EMail Vendor done: Almost inexpensive.

[2016-10-07 16:26] rohitmanglik commented on #38
A) is resolved as well :)

[2016-10-07 16:26] #38 closed

[2016-10-07 17:19] rohitmanglik commented on #17
In 5),

If permanently closed is true, update value of  "Services Offered" to "Permanently Closed".

[2016-10-07 18:45] rohitmanglik opened #51 "Step 3: Custom Lexicon - tags"
Custom Lexicons are not reflected in Listing page. We need it to display tags.

I am working with Step 3 team to get it fixed.

[2016-10-08 05:38] rohitmanglik commented on #30
We can make views more realistic. e.g. IIT Delhi is way more famous then Tier 2 Institutes. It has 776 reviews as well.

We can write following logic:
`totalViews = rand(200,500)
for(int i=0; i<count(totalReviews); i++)
      totalViews += rand(10,20);`

It will help us in showing really famous Institutes on top.

[2016-10-08 09:57] rohitmanglik commented on #51
Resolved.

[2016-10-08 09:57] #51 closed

[2016-10-08 14:41] rohitmanglik opened #52 "Remove wrong email addresses"
Some of the email addresses might be obsolete. Sending wrong email will hit our EMail score. We have to remove those obsolete email addresses from our database.

Doing it is very straight forward procedure. Refer following articles on how to do it.

https://pypi.python.org/pypi/validate_email
https://www.scottbrady91.com/Email-Verification/Python-Email-Verification-Script
https://github.com/JoshDa

[2016-10-08 14:48] rohitmanglik opened #53 "New APIs - Crossvalidate"
Just mentioning further ways to improve our data:
1) Wikipedia (Wikimedia)
2) Atom/RSS Feed - scrap website for that data
3) Microdata - scrap website for that data
4) Social Profiles that are shown in google results
5) Scrap Urbanpro.com
6) Any API mentioned below

http://www.programmableweb.com/category/social/apis?category=20087
https://www.quora.com/Are-there-any-alternatives-to-FullContacts-A

[2016-10-08 16:54] rohitmanglik commented on #17
6): We need polygon URL. It should be a URL rather than `{u'northeast': {u'lat': 26.84984885, u'lng': 80.9452641}, u'southwest': {u'lat': 26.84972385, u'lng': 80.94524689999999}}`

[2016-10-08 17:00] rohitmanglik commented on #36
Regarding EMails:

It should first check whether value in claim_email already set. If the value in claim_email is empty, insert value in claim_email, else insert it in Mail2.

Currently value is being put in Mail2 irrespective of the value in claim_email.

[2016-10-08 18:15] gupta-shantanu commented on #52
Validating email address is not supported by all SMTP servers. Only addresses belonging to standard servers like gmail can be reliably validated. Other servers like that of roboleads@mteducare.com or admissions@isc.edu.in are not behaving accordingly. For now I have added check for gmail addresses only.

[2016-10-08 18:20] rohitmanglik commented on #52
By the way email server of roboleads@mteducare.com rejected my email just now.

[2016-10-08 18:33] rohitmanglik commented on #52
What about yahoo and rediffmail. Some people still use these services :/

[2016-10-08 19:40] rohitmanglik commented on #52
We have doubts in 6 out of 261 records. With good assumptions, we can say 2.5% records need to be corrected. It means just 5000 records in 200k entries. We should be able to leverage some third party APIs to correct such records.

We can leverage some third party API for such records.

[2016-10-09 06:51] rohitmanglik commented on #52
Also script is very slow. Can you create multiple threads? We don't need API key in this case so I believe this shouldn't be an issue.

[2016-10-09 07:02] rohitmanglik commented on #36
In sample.csv, shiksha- The Commerce Classes has same EMail address in claim_email and Mail2.

[2016-10-11 19:07] rohitmanglik opened #54 "Wikipedia (Wikimedia) API"
Just like Google and Facebook APIs, we can leverage Wikimedia API for a very selected set of Institutes.

[2016-10-12 04:28] rohitmanglik commented on #36
@gupta-shantanu @shubhiD any update on above comment?

(In sample.csv, shiksha- The Commerce Classes has same EMail address in claim_email and Mail2.)

[2016-10-14 08:24] shashwat-vik commented on #36
Overlook the commit 70f3c4a063be733608cd565190c3ae10f5fc8580
That on my local branch.

[2016-10-15 03:49] #33 closed

[2016-10-15 04:12] rohitmanglik opened #55 "Account for record updation"
a) @anantharam will create a unique id for all the records

b) @rohitmanglik will make necessary changes in step 3 to counter record updation.

[2016-10-15 04:17] rohitmanglik commented on #49
@gupta-shantanu what's the current stats for above scenario?

[2016-10-15 12:03] gupta-shantanu commented on #49
@shubhiD handled this in 6118960 . Few of them are very specific cases, and should be recovered manually (e.g. 79-26629500 / 600).

[2016-10-15 12:05] shubhiD commented on #49
@gupta-shantanu  I have coded to update these numbers as well (e.g. 79-26629500 / 600)

[2016-10-15 12:15] #55 closed

[2016-10-15 12:18] anantharam opened #56 "Find the top 4/5 phone number patterns in every city."
We need to write a code to figure out the common patterns in phone numbers in every city and sort them by their frequency of occurance.
We can then get the ops team to call the top 4/5 patterns to figure out if any of them are virtual phone numbers so that we can remove those patterns completely from our csv files..

[2016-10-15 12:21] anantharam commented on #56
@rohitmanglik Please assign this issue to appropriately based on people's current load.

[2016-10-15 19:45] rohitmanglik commented on #49
Just verified final output. Final output has 91, +91. Remove these two starting char combinations and then we can close this issue.

[2016-10-15 19:55] rohitmanglik commented on #30
@shubhiD @gupta-shantanu check out https://directory.edugorilla.com/institute/?sort-by=popularity

The Institutes on top should be the ones that have their own photos and high number of comments. Basically most completed profiles one must have the highest number of viewers.

We need to add views to make these changes more apparent.

[2016-10-15 22:57] #49 closed

[2016-10-18 00:07] rohitmanglik opened #57 "Account for Duplicate Entries"
Some of the entries in our input csv files are duplicate. Search for those entries and remove them.

Some of the points to remember:

1. This step should be performed before Google AutoComplete.
2. You might need to consider Name + Street Address + Locality to find duplicate entries.

[2016-10-18 15:22] rohitmanglik commented on #17
@shubhiD 6) will be taken care later on.

5) In case of Permanently closed, prepend in address: "ADDRESS CHANGED".

[2016-10-18 15:24] rohitmanglik commented on #36
Current status: waiting for final analysis from @shashwat-vik

[2016-10-18 15:40] rohitmanglik commented on #56
Verified the fix, it works great.

How the question is: how to remove those entries. It should be dealt in new script after Beta release.

[2016-10-18 15:43] rohitmanglik opened #58 "Take UrbanP to eternity."

[2016-10-18 17:40] #30 closed

[2016-10-18 17:58] shashwat-vik commented on #36
You can't get the individual people's review for a page using the API.
That would require page token for that page, or the user token who is admin of that page.
And that's true for the public pages as well.

However other info's that you can get hold by the App Access token we are using are:

1. Page aggregate rating
2. Total count of people visited
3. Total count of likes
4. Working hours
5. Albu

[2016-10-18 18:01] rohitmanglik commented on #36
@shashwat-vik Please fetch following details and save in separate columns in csv file.

Working hours
Albums with photos
Videos
Top 100 Posts on the pages

@shubhiD Please take it forward from above 4 columns and consolidate those values to existing fields.

[2016-10-19 10:17] rohitmanglik commented on #58
Moved this to https://github.com/rohitmanglik/Eternity-of-UP

[2016-10-19 10:17] #58 closed

[2016-10-19 12:15] rohitmanglik opened #59 "Errors in Mumbai .csv"
Traceback (most recent call last):
		  File "/home/bitnami/rohit/scrap-preprocessor/fbGraph.py", line 353, in processAll
			node = self.searchPlace(row,state)
		  File "/home/bitnami/rohit/scrap-preprocessor/fbGraph.py", line 208, in searchPlace
			query = row['Name'] + ', ' + row['Locality']
		UnicodeDecodeError: 'ascii' codec can't decode byte 0xe2 in position 4: ordinal not in range(128)
		^M56

[2016-10-19 12:17] rohitmanglik commented on #59
Bad characters
	noslist1 [u'8898542258']
	[u'8898542258']
	^M0%^M0%^M0%^M0%^M0%^M0%^M0%^M0%^M0%^M0%Bad Phone number +91-22-9892833691
	^M0%^M0%^M0%^M0%^M0%^M0%^M0%^M0%^M0%^M0%^M0%^M0%^M0%^M1%^M1%^M1%^M1%^M1%^M1%^M1%^M1%^M1%^M1%^M1%^M1%^M1%^M1%^M1%^M1%^M1%^M1%^M1%^M1%^M1%^M1%^M1%^M2%^M2%^M2%^M2%^M2%^M2%^M2%^M2%^M2%^M2%^M2%^M2%^M2%^M2%^M2%Bad Phone number +91-22620661
	^M2%^M2%^M2%^M2%^M2%^M2%^M2%^M

[2016-10-19 12:18] rohitmanglik commented on #59
Traceback (most recent call last):
	  File "geocodertest.py", line 243, in <module>
		f.process()
	  File "geocodertest.py", line 70, in process
		self.wikipedia.processAll(self.rows)
	  File "/home/bitnami/rohit/scrap-preprocessor/mediaWiki.py", line 65, in processAll
		page = self.getPage(row)
	  File "/home/bitnami/rohit/scrap-preprocessor/mediaWiki.py", line 22, in getPage
		results = wikipedi

[2016-10-19 12:19] rohitmanglik commented on #59
/usr/local/lib/python2.7/dist-packages/bs4/__init__.py:166: UserWarning: No parser was explicitly specified, so I'm using the best available HTML parser for this system ("lxml"). This usually isn't a problem, but if you run this code on another system, or in a different virtual environment, it may use a different parser and behave differently.

	To get rid of this warning, change this:

	 Beautifu

[2016-10-19 15:27] pinakinathc commented on #52
#52
https://github.com/pinakinathc/scrap-preprocessor/pull/1/commits/f88eb095b3360c38f54e9dbf94aa3cbdef7363f1

[2016-10-19 17:46] shubhiD commented on #17
Closing for now

[2016-10-19 17:47] #17 closed

[2016-10-19 18:45] rohitmanglik commented on #59
@gupta-shantanu, @shubhiD will be unavailable till Monday so you have to see it yourself.

[2016-10-20 02:36] rohitmanglik commented on #50
SMS Vendor done - 12p per sms

[2016-10-20 02:36] rohitmanglik commented on #50
Increase storage space done

[2016-10-20 18:30] #52 closed

[2016-10-21 11:42] rohitmanglik opened #61 "Take this code to Open Source World"
**A GOOD NEWS:**

As per today's meeting, we are planning to take this project to open source. Our roadmap is yet to be discussed based on the current execution of open issues. Once we are stable, we will push it in Open Source World.

Some of the changes as discussed in meeting are

1. Create an exhaustive documentation. Mention API limits, how to get API keys etc.
2. Include editorconfig file: h

[2016-10-21 11:43] rohitmanglik opened #62 "Become an Open Source Beast!!"
**A GOOD NEWS:**

As per today's meeting, we are planning to take this project to open source. Our roadmap is yet to be discussed based on the current execution of open issues. Once we are stable, we will push it in Open Source World.

Some of the changes as discussed in meeting are

1. Create an exhaustive documentation. Mention API limits, how to get API keys etc.
2. Include editorconfig file: h

[2016-10-21 11:44] rohitmanglik commented on #62
6. We also have to remove all the files from input files and mention 2-3 companies for example. e.g. Service My Mobile, Career Breeder

[2016-10-21 11:44] shashwat-vik commented on #59
@gupta-shantanu . Using unicode() is still giving the 'UnicodeDecodeErrors' in fbGraph.py.

[code]

This is because python will implicitly use 'ascii' (default encoding) to decode first and then encode to Unicode.

-----------------------

**Reason for 'UnicodeDecodeErrors'.**

Firstly some row['Name'] have Unicode characters in csv.
This isn't a problem because the file is directly being read as

[2016-10-21 11:48] rohitmanglik commented on #62
Obviously we will start working on it after our issues are fixed. However, @anantharam will keep on making those small changes  so till the end not everything will be messed up. ;)

[2016-10-21 11:51] #61 closed

[2016-10-21 19:41] gupta-shantanu commented on #36
@shashwat-vik  Is this the format for final output of working ours:
```a:7:{i:0;a:3:{s:17:"listing_time_from";s:5:"10 AM";s:11:"listing_day";s:6:"MONDAY";s:15:"listing_time_to";s:4:"7 PM";}i:1;a:3:{s:17:"listing_time_from";s:5:"10 AM";s:11:"listing_day";s:7:"TUESDAY";s:15:"listing_time_to";s:4:"7 PM";}i:2;a:3:{s:17:"listing_time_from";s:5:"10 AM";s:11:"listing_day";s:6:"FRIDAY";s:15:"listing_time_

[2016-10-21 19:54] gupta-shantanu commented on #36
@shashwat-vik I am not able to fetch hours from [facebook api](https://developers.facebook.com/tools/explorer/?method=GET&path=607618802745506%3Ffield%3Dhours&version=v2.8), while it's listed there on actual page. Is there something extra that needs to be done? Can you send me a sample 'hours' dictionary returned by fb Graph API asap?

[2016-10-22 01:54] shashwat-vik commented on #36
@gupta-shantanu  Yes this is the final format for working hours.

Convert and merge data from column **'fb_workingHours'** to **'Working Hours'**, only if it was empty.
If **'Working Hours'** already got updated by **googleAutocomplete** don't merge.

@rohitmanglik  Please confirm this too.

[2016-10-22 02:01] shubhiD commented on #36
@gupta-shantanu if you are parsing the working hours than make a format like this:

[{'listing_time_from': '3 PM', 'listing_day': 'MONDAY', 'listing_time_to': '7.30 PM'}, {'listing_time_from': '3 PM', 'listing_day': 'TUESDAY', 'listing_time_to': '7.30 PM'}, {'listing_time_from': '3 PM', 'listing_day': 'WEDNESDAY', 'listing_time_to': '7.30 PM'}, {'listing_time_from': '3 PM', 'listing_day': 'THURSDA

[2016-10-22 02:41] rohitmanglik commented on #36
I concur. You can also refer #6 for more details.

Just a small change: You should not say "7 PM" but "07:00 PM"

[2016-10-22 02:46] rohitmanglik commented on #54
@gupta-shantanu as it is pushed for next release. Please comment call to Wikipedia.

[2016-10-22 10:31] shashwat-vik commented on #36
@gupta-shantanu . Do the merging of FB Working Hour row inside the function **'_mergeData()'** defined under fbGraph.py

[2016-10-22 18:13] shashwat-vik opened #63 "Error in scrap_visakhapatnam.csv"
[code]

[2016-10-22 23:56] shashwat-vik commented on #36
Checked on all input files, after the recent commits. No errors in Graph API module.
Closing the issue.

[2016-10-22 23:56] #36 closed

[2016-10-23 03:46] rohitmanglik commented on #59
@shashwat-vik in your latest testing did you get any warning?

Currently, if the errors are only pertaining to another wilipedia, let's move the milestone.

[2016-10-23 18:06] gupta-shantanu commented on #57
@shashwat-vik can you please share your findings related to the issue?

[2016-10-23 20:23] pinakinathc commented on #63
@shashwat-vik
i tried to execute geocodertest.py by commenting other functions like
self.autoComp.main(self.rows) #line 67
self._addGeocoding() #line 68
this gave no errors.

So maybe that new data is being fetched from fbGraph.py and those new entries are showing these errors??

[2016-10-23 20:37] rohitmanglik commented on #63
Yes, that's what you have to debug right? FBGraph is returning some string and that has some encoding issue. mobileAPI should have handled that encoding thing gracefully.

You are supposed to fix encoding issue in mobileAPI.

[2016-10-24 04:42] shashwat-vik commented on #59
With wikipedia module commented, no errors encountered.
So closing the issue.

[2016-10-24 04:42] #59 closed

[2016-10-24 09:35] shashwat-vik commented on #57
Yeah. Sure.

Whenever I use the term **Duplicates**, it will mean they have the same values for **'MAIN FIELDS'** and rest fields may or may not be same.
**'MAIN FIELDS'** are following columns: **['Name','Street Address','Locality','City','Pincode']**

The motivation for these fields is to uniquely pin-point an Institute, including cases when it may have multiple branches in same city.

So someti

[2016-10-25 16:55] rohitmanglik commented on #50
All issues resolved! Just need to integrate with SMS Gateway. Working on it.

[2016-10-25 22:28] #63 closed

[2016-10-25 22:39] shashwat-vik commented on #57
Ensured safety in Autocomplete and FB prediction analysis through the commit 831befe2b7dfb57f74439c6c84d4db4fcdc6c743 due to the consequences of merging rows.

[2016-10-25 22:39] #57 closed

[2016-10-28 06:33] rohitmanglik opened #64 "Install dependencies automatically"
Our code should be able to install all dependencies automatically.

There are many tools for that. e.g. For JS we have bower.

[2016-10-28 06:57] shubhiD commented on #64
pip install -r requirements.txt

It will download everything mentioned in requirements.txt

Is this what is required?

[2016-10-28 08:19] rohitmanglik commented on #64
Yes, please update it in documentation.

Also, after running it on our new server, it's showing some error. We need to make areangements for that as well.

[2016-10-28 09:03] rohitmanglik commented on #64
I was getting following error:
`/usr/local/lib/python2.7/dist-packages/requests/packages/urllib3/util/ssl_.py:122: InsecurePlatformWarning: A true SSLContext object is not available. This prevents urllib3 from configuring SSL appropriately and may cause certain SSL connections to fail. You can upgrade to a newer version of Python to solve this. For more information, see https://urllib3.readthedocs

[2016-10-28 09:09] rohitmanglik opened #65 "Multithread whole Engine"
If we have large number of files (100+), it takes many days or even weeks to complete whole Engine.

We can speed up the whole process substantially by running whole process in multiple threads.

Engine should itself be able to create predefined number of threads and assign files in chunk to each thread.

[2016-11-12 05:04] rohitmanglik opened #66 "Implement Key Rotation in Facebook"
Just the same way we do Key Rotation in Google Places, Autocomplete, geoLocation, MailBoxerAPI, implement key rotation for Facebook API as well.

[2016-11-13 04:37] #66 closed

[2016-11-13 04:37] rohitmanglik commented on #66
Not a bug. Already implemented.

[2016-11-13 04:39] rohitmanglik opened #67 "Correct Drill Down of City Info"
Bangalore is converted to Bangalore Urban
Delhi is splitted among South Delhi, West Delhi etc
Bhubaneshwar is changed to Shaheed Nagar

Most probably this error was occured in Google AutoComplete API

[2016-11-13 04:42] rohitmanglik opened #68 "New column Slug"
Create a new Column slug.

Read more about it at http://www.wpbeginner.com/glossary/post-slug/

Create Slug of this data "Title - Locality - City"

[2016-11-13 04:46] rohitmanglik opened #69 "Make a master script for processing across all entries"
Combine following scripts:

https://gist.github.com/gupta-shantanu/d544c642ebc23137b796995b13773cb4
https://github.com/rohitmanglik/data-enrichment/blob/master/utils/removeInterDuplicates.py

[2016-11-13 05:27] rohitmanglik opened #70 "Some Categories and Tags has "See Less" appended after them"
Please remove "See Less" from Categories and Tags for which it's appended.

[2016-11-13 11:26] rohitmanglik commented on #68
I fixed it in step 3.

[2016-11-13 11:26] #68 closed

[2016-11-13 20:27] rohitmanglik commented on #64
Any update?

[2016-11-15 12:43] rohitmanglik opened #71 "Only 5 reviews at max"
We get at max only 5 reviews of a coaching center. Can we remove this threshold?

Also maximum views shown till now are 5800. Why is the number not increasing?

[2016-11-15 13:53] shubhiD commented on #71
Google's max value is 5 for reviews

[2016-11-15 19:43] #71 closed

[2016-11-16 13:03] shubhiD commented on #64
Please review readme, i have updated it

[2016-11-16 13:06] shubhiD commented on #70
please share the file in which 'See less' was spotted, data I have doesn't has this

[2016-11-17 12:17] rohitmanglik opened #72 "Download Images"
Step 1: Download images in Images Column
Step 2: Hash {imageid-eduid} and save all the images in images folder (e.g. 289qhfbvglerigvb347ovblisdjn.jpg)
Step 3: rename the url to new name.

e.g. http://googleusercontent.com/somthing.jpg, http://googleusercontent.com/foo.jpg
will convert to
lvaniuvjneibbwiu894rjf43u.jpg, niarlgvb4398gtbn.jpg

[2016-11-17 21:41] pinakinathc commented on #72
added a code that solves this but some images are not getting displayed. Also printed a list of image urls that urllib method fails to download.
[https://github.com/rohitmanglik/data-enrichment/commit/25f1e4e35794f795dff1d920890e22789d350e78](url)
this has one deletion of line that should not have been made. Fixed it in the next commit.

[2016-11-24 06:24] rohitmanglik commented on #72
Please merge it in main code.

[2016-11-24 06:28] rohitmanglik opened #73 "Merge Utilities"
We have five utilities to be run to come with a finalized folder. Except post_validate_email.py, all the utilities can be merged.
You may have to create an intermediary folder "tmp" to save preprocessed and updated files.

Merge following four utilities into main.py:

1) addUniqueId.py - User should explicitly define a starting point.
2) joinCSV.py
3) removeInterDuplicates.py
4) save_img.py

[2016-12-03 06:27] pinakinathc opened #74 "errors in server"
debug errors in server.

[2016-12-03 06:28] pinakinathc commented on #74
@shubhiD  can you please help me with this, understanding the issue.

[2016-12-03 13:40] rohitmanglik commented on #50
Fixed everything Closing the issue now.

[2016-12-03 13:40] #50 closed

[2016-12-03 17:16] rohitmanglik opened #75 "Full Address data if no data from Google Places."
If we don't get any data from Google Places, do we still update Full Address based on input data?

[2016-12-03 17:17] rohitmanglik opened #76 "City data is inconsistent"
City data is inconsistent for Kolkata, Delhi, Cochin etc.

[2016-12-03 19:22] pinakinathc commented on #74
@shashwat-vik scrap_bangalore.csv is showing error.

`Current file is ./input/scrap_bangalore.csv

RUNNING AUTOCOMPLETE
STATE :  Karnataka
Traceback (most recent call last):
  File "geocodertest.py", line 270, in <module>
    f.process()
  File "geocodertest.py", line 90, in process
    self.autoComp.main(self.rows,state)
  File "/home/user/pinaki/data-enrichment/autoComplete.py", line 209, in mai

[2016-12-04 00:00] shashwat-vik commented on #76
This inconsistency is a result of 2 cases.
1) Confusion over parameter that result in District vs City
2) Union Territory Cases

Both are addressed in 	8d9873d

[2016-12-04 00:38] shashwat-vik commented on #75
'fullAddress' suffers a conflict.
Its getting updated at 2 places.

1) In autoComplete.py, it is updated only if we get data from Google Places.
2) In geocodertest.py, it is updated by concatenating data already existing in columns everytime.

So 2 overrides 1 in all cases, making it noisy.
Will it be ok, if 2 happens only when no data comes from Google Places ?

[2016-12-04 01:01] shashwat-vik commented on #76
Still it would suffer inconsistency.
Not because of data being wrong. But due to official name and local name conflict.
E.g. Bengaluru (when autocomplete works) and Bangalore (otherwise)

Which convention you wanna follow to group the listings based on City ?

[2016-12-04 04:12] rohitmanglik commented on #75
Yes, definitely.

Also, if FB data is available and Google Place id is not present, we can override fullAddress with address provided by FB.

[2016-12-04 04:16] rohitmanglik commented on #76
New names in most of the cases- Bengaluru and Kolkata

Exceptions:
Gurgaon over Gurugram- not sure if the next Govt will change it back.

Delhi - Union Territory is preferred in this case.

[2016-12-04 04:18] rohitmanglik commented on #76
Might be we can have a reference csv file for this. Everytime we update city, our code will look into all aliases and update accordingly.

[2016-12-04 04:20] rohitmanglik commented on #74
@pinakinathc please test the fix and update the issue accordingly.

[2016-12-04 08:27] rohitmanglik opened #77 "slkh_tmp and slkh_others_tmp data duplication"
Is the data of slkh_tmp and slkh_others_tmp different? Are we sure there is no duplication in both of them?

If there is duplication, we have to remove coinciding entries from slkh_others_tmp folder.

[2016-12-04 09:16] pinakinathc commented on #74
present errors:

`Current file is ./input/scrap_bangalore.csv

RUNNING AUTOCOMPLETE
STATE :  Karnataka
Traceback (most recent call last):
  File "geocodertest.py", line 270, in <module>
    f.process()
  File "geocodertest.py", line 90, in process
    self.autoComp.main(self.rows,state)
  File "/home/user/pinaki/data-enrichment/autoComplete.py", line 209, in main
    self._autoComplete(state)
  Fi

[2016-12-04 11:55] pinakinathc commented on #74
new errors:
`Traceback (most recent call last):
  File "geocodertest.py", line 270, in <module>
    f.process()
  File "geocodertest.py", line 91, in process
    self._addGeocoding()
  File "geocodertest.py", line 142, in _addGeocoding
    new_city = row["City"].title()
AttributeError: 'NoneType' object has no attribute 'title'
`

[2016-12-04 20:13] rohitmanglik commented on #72
Working fine in production.

[2016-12-04 20:13] #72 closed

[2016-12-07 20:07] pinakinathc commented on #74
errors in scrap_goa.csv
`Current file is ./input/scrap_goa.csv

RUNNING AUTOCOMPLETE
STATE :  Goa
####################
VERIFIED     :  42
NOT VERIFIED :  51
####################

UPDAING ADDRESS
viewports for  11
Traceback (most recent call last):
  File "geocodertest.py", line 276, in <module>
    f.process()
  File "geocodertest.py", line 90, in process
    self.autoComp.main(self.rows,state)

[2016-12-07 22:17] shashwat-vik commented on #74
Ignore two repetitive commits happened above.  bc38e28 is the concluding one.

[2016-12-08 01:06] shashwat-vik commented on #74
Its will still show error, but now with function 'safe_dec_enc()'.
Will commit, after testing the fix.

[2016-12-08 04:18] pinakinathc commented on #77
execute:
`python duplicate.py`
to see details.

[2016-12-08 10:33] pinakinathc commented on #77
This is the output on execution of the code:

`The following data are for sulekha_temp:

number of Same folder entries repeat:  1485
total:  32092
total number of files:  48
finished building central dictionary:

#############
The following are for sulekha_other_temp:

number of Same entries in sulekha_other_temp:  58761
total:  85839
total number of files:  48
End of execution

number of same ent

[2016-12-08 10:36] pinakinathc commented on #77
@anantharam can you please help me out. I am a bit confused with these results.

[2016-12-08 10:50] rohitmanglik commented on #77
@anantharam @shashwat-vik Please verify

[2016-12-11 04:46] pinakinathc commented on #74
@rohitmanglik @shashwat-vik there are no errors in sulekha_other_temp. Checked all files.

[2016-12-11 04:46] #74 closed

[2016-12-11 09:29] rohitmanglik opened #78 "Updated sulekha_others"
1) We have to remove duplicates i.e. delete the entries already uploaded in sulekha_tmp  - issue#77 - Waiting for Anant.

2) There is a file updated_scrap4_mumbai.csv. It doesn't follow pattern of other cities.  If we don't include updated_sample_big.csv, updated_sample.csv and updated_scrap4_mumbai.csv, we have only 47 files. One file is missing.

3) Verify whether City data of cities starting wi

[2016-12-11 09:34] rohitmanglik commented on #74
Greate 👍

[2016-12-12 22:47] pinakinathc commented on #78
@rohitmanglik @anantharam please review this code. Hope it works fine. Just removed entries that were already present in sulekha_temp i.e. removed total of 5054 entries.

[2016-12-13 16:19] anantharam commented on #78
@pinakinathc You were supposed to remove the entries from sulekha_others_temp not sulekha_temp, right?

[2016-12-14 17:33] rohitmanglik commented on #78
@pinakinathc @anantharam is this issue resolved?

[2016-12-15 17:21] pinakinathc commented on #78
@anantharam  I rechecked the code and it seems I updated the new files of sulekha_other_temp in the output folder. Maybe I am overlooking something. Can you please help me a bit. :)

[2016-12-16 08:18] rohitmanglik opened #79 "Modifications in Vendor Plugins"
We have to modify code in step 3 to counter changes by our Vendors

[2016-12-19 14:41] pinakinathc commented on #78
i was running the new files of sulekha_other_temp and while running scrap_jamshedpur.csv I encountered with this warning.

`Current file is ./input/scrap_jamnagar.csv

RUNNING AUTOCOMPLETE
STATE :  Gujarat
####################
VERIFIED     :  14
NOT VERIFIED :  22
####################

UPDAING ADDRESS
Permanently closed is  Xplora Design Skool [Address Unverified]
Permanently closed is  Xplora Des

[2016-12-20 11:23] pinakinathc commented on #77
@anantharam @shashwat-vik when i am executing this file separately it is not giving any kind of warning.

[2016-12-20 17:57] anantharam commented on #77
@pinakinathc Can we close this issue now?

[2016-12-20 18:00] pinakinathc commented on #77
@anantharam yeah sure :)

[2016-12-20 18:00] #77 closed

[2016-12-22 07:16] pinakinathc commented on #78
Found this error while executing scrap_kolkata.csv in previous commit: 77d84b0 I tried to fix it.
Running the latest code on the last set of files.

`Traceback (most recent call last):
  File "/home/user/pinaki/data-enrichment/fbGraph.py", line 482, in processAll
    node = self.searchPlace(row,state)
  File "/home/user/pinaki/data-enrichment/fbGraph.py", line 228, in searchPlace
    node=self.ana

[2016-12-23 11:51] #78 closed

[2017-02-02 05:10] #56 closed

[2017-02-02 05:18] #64 closed

[2017-02-04 11:32] shashwat-vik commented on #75
Full Address is updated by **autoComplete.py** firstly. If data is not available from it, existing data in csv columns is concatenated to make the Full Address.

This concatenation happens in **_'_addGeocoding'_** in **geocodertest.py** which is made to run after **fbGraph.py**. If fbGraph gets the address details, it repairs the necessary columns respectively.

Thus fbGraph's data would be reflec

[2017-02-04 11:32] #75 closed

[2017-02-04 11:35] shashwat-vik commented on #76
Both the situations of new names and exceptions can be generically updated in **alias_data.csv** so that city names are consistent.

[2017-02-04 11:35] #76 closed

[2017-02-04 18:18] shashwat-vik commented on #73
As per the discussion, the merged utilities include:

- post_validate_email.py
- removeInterDuplicates.py
- joinCSV.py

They form the Layer 2, that would be run locally.
Also, the utility **normalize_city_name.py** is moved to run in main.py as it forms the Layer 1.

[2017-02-04 18:18] #73 closed

[2017-02-04 18:23] shashwat-vik commented on #69
Its addressed in Issue #73

[2017-02-04 18:23] #69 closed

[2017-02-04 18:29] shashwat-vik commented on #67
Its addressed in Issue #76

[2017-02-04 18:29] #67 closed

[2017-02-24 14:01] rohitmanglik opened #80 "Error in Layer 2"
[code]

[2017-06-24 11:54] ShashiPrakash88 opened #82 "merging teachers data"
this is regarding the teachers data csv files.

if possible can anyone merge all the columns of one teacher into a single column in a **serialized** manner.
and make this for all the teacher in one school.

i.e all the teachers of one school are in one row so that it is  easier for merging in the main dataset and  also for importing it.

for eg. if a school has 10 teachers then there will be 10 co

[2017-06-29 17:37] anantharam opened #84 "Add a tool to merge the place ids in a file"
Add a script in the utils folder to automatically merge the records based on duplicate place ids. If two records have the same place ids, then we need to merge those two records into one.

[2017-07-03 15:23] glearner opened #85 ""util/addUniqueId.py" is actually "utils/addUniqueId.py""
Please update your documentation

[2017-07-03 16:35] glearner commented on #85
I understand that it is back end for "http://www.edugorilla.com/".. But how u identify the phone number ..

[2017-07-03 16:56] glearner commented on #85
now I understand everything. But Can we check ratings of institute ????

[2017-07-15 18:09] jishnujayakumar commented on #82
I have made a utility for this task and the output has been handed over to @ShashiPrakash88 on 15-07-2017. The output was tested and confirmed ok by @ShashiPrakash88.

[2017-07-15 18:09] #82 closed

[2017-07-15 18:13] jishnujayakumar commented on #84
I have made the script and it can found in the utils folder with the name csvRowFilter.py.

[2017-07-15 18:13] #84 closed